h1 BasicPages#home
p.is_huge Find me in app/views/basic_pages/home.html.erb

.map_container
  img.is_backgrouns src="https://ddalsg.files.wordpress.com/2018/09/burning_city.jpg?w=750"
  .grid_container
    p.left4.big 👹
    .row_container
      button.grid_button
      button.grid_button
        i.material-icons border_clear
      button.grid_button
      button.grid_button 
        i.material-icons bubble_chart
    
    .row_container
      button.grid_button 
        i.material-icons blur_on
      button.grid_button
      button.grid_button 🐺
      button.grid_button     
    
    .row_container
      button.grid_button 
        i.material-icons ac_unit
      button.grid_button
      button.grid_button.jungle     
      button.grid_button 
        i.material-icons dehaze
    
    .row_container
      button.grid_button 👶🏻
      button.grid_button.wall 
        i.material-icons gesture
      button.grid_button.jungle 
        i.material-icons grain
      button.grid_button.jungle 🧟‍
    
