h1 BasicPages#home
p Find me in app/views/basic_pages/home.html.erb

.map_container
  <img src="https://ddalsg.files.wordpress.com/2018/09/burning_city.jpg?w=750" alt="" height = 300px>
  .grid_container
    p.left4.big 👹
    .row_container
      button.grid_button
      button.grid_button <i class="material-icons">border_clear</i>
      button.grid_button
      button.grid_button <i class="material-icons">bubble_chart</i>
    
    .row_container
      button.grid_button <i class="material-icons">blur_on</i>
      button.grid_button
      button.grid_button 🐺
      button.grid_button     
    
    .row_container
      button.grid_button <i class="material-icons">ac_unit</i>
      button.grid_button
      button.grid_button.jungle     
      button.grid_button <i class="material-icons">dehaze</i>
    
    .row_container
      button.grid_button 👶🏻
      button.grid_button.wall <i class="material-icons">gesture</i>
      button.grid_button.jungle <i class="material-icons">grain</i>     
      button.grid_button.jungle 🧟‍
    
